@import "@/styles/mixins";
@import "@/styles/colors.scss";

.container {
  height: 49px;
  background-color: transparent;
  transition: 0.4s;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid $white;
  padding: 15px 25px;
  color: $white;
  letter-spacing: 2px;
  font-size: var(--fs-s);
  font-weight: bold;

  &:hover {
    color: $dark;
    background-color: $white;
    z-index: 100;
    opacity: 1;
  }
}
