@import "@/styles/mixins";
@import "@/styles/colors.scss";

.container {
  max-width: 800px;
  a {
    color: $dark;
  }

  h4 {
    font-size: var(--fs-l-s);
    margin: 10px 0 20px;
  }
}

.imageCard {
  min-width: 230px;
  min-height: 200px;
}
