:root {
  --fs-xxl: clamp(3.5rem, 10vw, 5rem);
  --fs-xl: clamp(2.3rem, 8vw, 3.5rem);
  --fs-xl-l: clamp(1.8rem, 5vw, 3.2rem);
  --fs-l: clamp(1.8rem, 5vw, 2.5rem);
  --fs-l-s: clamp(1.5rem, 5vw, 2rem);
  --fs-m: clamp(1rem, 10vw, 1.1rem);
  --fs-s: clamp(0.8rem, 10vw, 0.8rem);

  --padding-y: clamp(20px, 5vw, 70px);
  --padding-root-y: 0 var(--padding-y);

  --page-max-width: 1600px;
}
