@import "@/styles/mixins";
@import "@/styles/colors";

.container {
  position: relative;
  color: $white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 var(--padding-y);
  margin-bottom: 70px;
  text-decoration: none;
  overflow: hidden;

  &::after {
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    background-color: #00000079;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  p {
    font-weight: 300;
    font-size: var(--fs-m);
  }

  h1 {
    font-size: var(--fs-xl);
  }
}

.image {
  z-index: -1;
  object-fit: cover;
  transition: transform 0.2s;
}

.body {
  max-width: 1000px;
}

.reservarButton {
  margin-left: 10px;
}
