@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@/styles/colors.scss";
@import "@/styles/mixins";
@import "@/styles/root";

body {
  margin: 0;
  background-color: #e2e8f0;
}

* {
  font-family: var(--font-poppins);
}

h1,
h2 {
  font-family: var(--font-heading);
  font-weight: 400;
}

p,
footer {
  font-weight: 300;
  line-height: 30px;
}

.markdown {
  * {
    font-family: var(--font-poppins);
  }

  h1,
  h2,
  h3,
  strong,
  b {
    font-weight: 500;
  }

  ul,
  ol {
    font-weight: 300;
  }
}
